GROQ_API_KEY=
GOOGLE_API_KEY=

SNOWFLAKE_ACCOUNT=
SNOWFLAKE_USER=
SNOWFLAKE_PASSWORD=
SNOWFLAKE_WAREHOUSE=
SNOWFLAKE_DATABASE=
SNOWFLAKE_SCHEMA=

ADK_URL=http://127.0.0.1:8787/ask
ADK_PANTRY_URL=http://127.0.0.1:8787/pantry
ADK_HOST=0.0.0.0
ADK_PORT=8787
