# Dependencies
node_modules/

# Next.js
.next/
.next-cache/
out/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
snowflake.log

# Env
.env
.env.local
.env*.local

# Editor/OS
.DS_Store
Thumbs.db
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Build artifacts
dist/
coverage/

# Misc
*.swp
*.swo
